
.icon-adult:before { content: '\e800'; } /* '' */
.icon-graduation-cap:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */